@import url('https://fonts.googleapis.com/css?family=Avenir');

 h1 {
	font-family: "Avenir", Helvetica;
	text-align: center;
	color: black;
}

body {
	background-color: #f1e8ff;
	font-family: 'Avenir', Helvetica, sans-serif;
}

#description {
	text-align: center;
}
 .mainbody {
  background-color: skyblue;
  margin: 0 auto auto ;
  width: 90%;
  max-width: 960px;
  padding: 10px 0 10px 0;
}

.rightColumn {
	width: 50%;
	display: inline-block;
	text-align: left;
}

.rightColumn ul {
	margin: 0 0 0 0;
	padding: .25em 0 0 0;
}

.labels {
	color: black;
	display: inline-block;
	text-align: right;
	width: 40%;


}

.answerFields {
	width: 300px;
	box-sizing: border-box;
	margin: 1%;
}



select {
	width: 300px;
	box-sizing: border-box;
	margin: 1%;
}

button {
	display: inline-block;
	width: 90px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
#submitButton {
	text-align: center;
}
ul {
	list-style: none;
}

#godA {
	float: left;
	margin: .28em .28em 0 0;
}

@media screen and (max-width: 800px) {
	.mainbody {
		width: 100%;
		margin-left: 0px;
	}

	.answerFields, select {
		width: 80%;
	}

}

@media screen and (max-width: 600px) {
	.rightColumn {
		width: 40%;
	}

	.labels {
		width: 50%;
	}
}